@import "variables";
@import "media";

.navigation {
	position: absolute;
	display: block;
	background: $color__primary;
	opacity: 0.8;
	height: 100%;
	width: 50%;
	z-index: 100;
	margin-left: -50%;
	padding: 5%;
	text-transform: uppercase;
	color: $color__open--blue;
	cursor: default;
	letter-spacing: 2px;
	transition: all 1s;
	font: {
		family: 'flamacondensed-book';
		size: 28px;
		weight: bold;
	}
	@media #{$mobile} {
		font-size: 20px;
		width: 70%;
		margin-left: -70%;
	}
	&:hover {
		margin-left: 0px;
	}
	&:focus {
		margin-left: 0px;
	}
}
.navigation__content {
    overflow-y: scroll;
    height: 100%;
}
.navigation__info {
    margin-bottom: 30px;
    @media #{$mobile} {
        margin-bottom: 20px;
    }
}

.navigation__button {
    position: absolute;
    display: block;
    top: -7px;
    right: -100px;
    margin: auto;
    padding: 10px;
    width: 100px;
    border: none;
    font: {
        family: 'flamacondensed-book';
        size: 28px;
        weight: bold; }
    text-transform: uppercase;
    color: $color__open--blue;
    cursor: default;
    letter-spacing: 2px;
}
