@import "variables";
@import "media";

.main__content {
	position: relative;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, $color__primary 0%, $color__primary 50%, $color__primary 50%, $color__open--blue 50%,$color__open--blue 100%);
	@media (min-height: 320px) and (max-height: 500px) {
		overflow-y: scroll;
	}
}

.view__login {
	display: block;
	text-align: center;
}
.view__login--form {
	width: 320px;
    left: 0;
    right: 0;
	margin: 50px auto 0;
	@media #{$mobile} {
		width: 280px;
	}
}
.view__login--form-email, .view__login--form-password {
    @media #{$mobile} {
        width: 250px;
        margin: 15px auto;
    }
}
.view__login--form-button {
    position: relative;
    display: block;
    margin: 30px auto 30px;
    @media #{$mobile} {
        padding: 10px;
        width: 200px;
    }
}
.view__login--form-forget {
    position: relative;
    display: block;
    margin: auto;
    border: none;
}