<div class="view__start content">
  <section class="view__login">
    <header>
      <h2>Witaj.<br />Zaloguj się, by przejść dalej.</h2>
    </header>
    <form 
      [formGroup]="loginForm" 
      (ngSubmit)="send()"
      class="view__login--form">

      <input 
        type="email" 
        formControlName="email" 
        [ngClass]="{'view__login--form-email': true, 'error': email.touched && email.invalid}" 
        placeholder="e-mail" 
      />

      <input 
        type="password"  
        formControlName="password" 
        class="view__login--form-password" 
        placeholder="hasło" 
      />

      <button 
        type="submit" 
        [ngClass]="{'view__login--form-button': true}" 
        [disabled]="loginForm.invalid && loginForm.touched" >
        Zaloguj się
      </button>

    </form>
  
    <button 
      class="view__login--form-forget"
      routerLink="../remind-password">
      Przypomnij hasło
  </button>
  </section>
</div>