@import "variables";
@import "media";

.remind__password {
	text-align: center;
}
.remind__email {
    margin: 40px auto 50px;
}
.remind__button {
    left: 0;
    right: 0;
    width: 200px;
    margin: 20px auto;
}