  <div class="view__remind-password content">
    <section class="remind__password">
      <h2>Podaj maila, na który przesłany zostanie link do resetu hasła.</h2>
      <form
        [formGroup]="remindPassword"
        (ngSubmit)="getEmail()"
      >
        <input 
          type="email" 
          formControlName="email"
          class="remind__email" 
          placeholder="podaj e-mail" 
          autocomplete="off" 
        />
        <button 
          type="submit" 
          class="remind__button" 
          [disabled]="remindPassword.invalid">
          Prześlij
        </button>
      </form>
    </section>
  </div>