  <section
    *ngIf="success === undefined; else result"
    class="remind__password">
    <h2>Podaj maila, na który przesłany zostanie link do resetu hasła.</h2>
    <form
      [formGroup]="remindPassword"
      (ngSubmit)="getEmail()"
    >
      <input
        type="email"
        formControlName="email"
        class="remind__email"
        placeholder="podaj e-mail"
        autocomplete="off"
      />
      <button
        type="submit"
        class="remind__button"
        [disabled]="remindPassword.invalid"
        (click)="showInfo()">
        Prześlij
      </button>
    </form>
  </section>

  <ng-template #result>
    <app-success-info
      [message]="success ? 'Na podany adres e-mail został wysłany link do zmiany hasła.' : 'Cos poszlo nie tak. Sprobuj ponownie poźniej.'"
    >
    </app-success-info>
  </ng-template>