
  <div class="ranking">
    <aside class="sidebar">
      <div class="sidebar__title">
        <div class="sidebar__title--position-top lighting--yellow">Ranking</div>
        <div class="sidebar__title--position-bottom lighting--blue">indywidualny</div>
      </div>
    </aside>
    <section class="page">
      <div class="page__title-mob">
        <div class="page__title-mob--position-top lighting--yellow">Ranking</div>
        <div class="page__title-mob--position-bottom lighting--blue">indywidualny</div>
      </div>
      <h2 class="page__title"></h2> 
      <h3 class="page__desc"></h3> 
      <table *ngIf="ranking" class="show__ranking">
        <thead class="show__ranking--head">
          <tr *ngFor="let head of ranking.header" [style.width.%]="100 / ranking.header.length" class="show__ranking--tr">
            <td class="show__ranking--td">{{ head }}</td>
          </tr>
        </thead> 
        <tbody class="show__ranking--users"> 
          <tr *ngFor="let value of ranking.rows" [class.active]="value.is_related_with_user">
            <td *ngFor="let subvalue of value.data">{{ subvalue }}</td>
          </tr>
         </tbody>
      </table>
    </section>
  </div>

  <flash-messanger></flash-messanger>