@import "variables";
@import "media";

.data-puller {
	header {
		@media #{$mobile} {
			display: none;
		}
	}
}
.view__login {
	display: block;
	text-align: center;
}
.view__login--form {
	width: 320px;
    left: 0;
    right: 0;
	margin: 50px auto 0;
	@media #{$mobile} {
		width: 280px;
	}
	.view__login--form-email, .view__login--form-password {
		@media #{$mobile} {
			width: 250px;
			margin: 15px auto;
		}
	}
	.view__login--form-button {
		position: relative;
		display: block;
		margin: 30px auto 30px;
		@media #{$mobile} {
			padding: 10px;
    		width: 200px;
		}
	}
	.view__login--form-forget {
		position: relative;
		display: block;
		margin: auto;
		border: none;
	}
}

.view__first--form {
	position: relative;
	height: 100%;
	width: 100%;
	@media #{$mobile} {
		font-size: 10px;
	}
	.form__name {
		width: auto;
		max-width: 350px;
		@media #{$mobile} {
			padding: 1px 5px;
		}
	}
	.form__desc {
		@media #{$mobile} {
			padding: 1px 5px;
		}
	}
	.form__checkbox {
		display: table-cell;
		width: 30px;
		&:focus {
			border-color: $color__open--blue;
		}
	}
	.form__checkbox--type {
		@media #{$mobile} {
			font-size: 12px;
		}
	}
	.form__button {
		right: 50px;
		bottom: -100px;
		@media #{$mobile} {
			right: 0;
			left: 0;
			bottom: -50px;
			width: 150px;
			margin: auto;
			padding: 10px;
		}
	}
	.form__info {
		font-family: 'open_sanssemibold';
		cursor: default;
		@media #{$mobile} {
			margin-top: 10px;
		}
	}
	.form__info--hide {
		font: {
			style: italic;
			size: 13px; }
		@media #{$mobile} {
			font-size: 10px;
		}
	}
	.form__info--alert {
		background: $color__primary;
    	padding: 0px 3px;
	}
	.form__counter {
		position: absolute;
		right: 5px;
		bottom: 175px;
		user-select: none;
		font: {
			size: 11px;
			family: 'open_sanssemibold';
		}
		@media #{$mobile} { 
			bottom: 190px;
			right: 5px;
		}
	}
	// @-moz-document url-prefix() {
	// 	.form__counter {
	// 		bottom: 164px;
	// 	}
	// }
}