<section class="data-puller">
    <header>
      <h2>Panel administracyjny</h2>
    </header>
    <form 
      [formGroup]="dataPuller" 
      (ngSubmit)="add(this)"
      class="view__first--form"
    >

      <p class="form__info">Tytuł kampanii</p>
      <input 
        type="text" 
        formControlName="name"
        name="name" 
        class="form__name" 
        maxlength="50"
        placeholder="Tytuł kampanii" 
        autocomplete="off" 
      />

      <p class="form__info">Opis kampanii</p>
      <textarea 
        type="text"
        formControlName="desc" 
        name="description" 
        class="form__desc" 
        maxlength="255" 
        placeholder="Maksymalnie w 255 znakach opisz kampanię" 
      >
      </textarea>
      <span class="form__counter">{{ desc.value.length }}/255</span>

      <p class="form__info">Typ kampanii</p>
      
      <label for="overall">
        <input 
          type="radio" 
          id="overall"
          formControlName="type"
          class="form__checkbox"
          value="Ranking ogólny" 
          checked/>
        <span class="form__checkbox--type">Ranking ogólny</span>
      </label>
      
      <label for="personal">
        <input 
          type="radio" 
          id="personal"
          formControlName="type"
          class="form__checkbox"
          value="Ranking personalny" 
        />
        <span class="form__checkbox--type">Ranking personalny</span>
      </label>

      <p class="form__info">Wybierz plik z danymi</p>
      <span class="form__info--hide">Dozwolone formaty to: .csv, .xls, xlsx, .xml</span>
      <input 
        type="file" 
        formControlName="file"
        (change)="consola()"
        name="file" 
        class="form__file"  />
      
      <button type="submit" class="form__button">Dalej</button>
    </form>
  </section>