<div class="main__content">
    <div class="content">
        <section class="new-password">
            <h2>Poniżej wpisz i potwierdź nowe hasło.</h2>
            <h3
                [ngClass]="{'error__text': newPasswordForm.controls['password_1'].touched && newPasswordForm.controls['password_2'].touched && newPasswordForm.controls['password_1'].errors?.pattern && newPasswordForm.controls['password_2'].errors?.pattern }"
                >
                Hasło powinno sładać się z min. 8 znaków, w tym: liter (conajmniej jedna duża i jedna mała) oraz conajmniej jednej cyfry
            </h3>
            <h4 
                *ngIf="newPasswordForm.controls['password_1'].touched && newPasswordForm.controls['password_2'].touched && newPasswordForm.controls['password_1'].errors?.match && newPasswordForm.controls['password_2'].errors?.match"
                class="error__text">
                Hasła muszą być identyczne! 
            </h4>
            <form
            [formGroup]="newPasswordForm"
            (ngSubmit)="checkPassword()"
            >
                <input 
                    type="password"
                    formControlName="password_1"
                    [ngClass]="{'new-pasword--input':true, 'error':newPasswordForm.get('password_1').errors && password_2.touched}"
                    placeholder="wpisz hasło"
                    autocomplete="off"
                />
                
                <input 
                    type="password"
                    formControlName="password_2"
                    [ngClass]="{'new-pasword--input':true, 'error':newPasswordForm.get('password_1').errors && password_2.touched}"
                    placeholder="powtórz hasło"
                    autocomplete="off"
                />

                <button 
                    type="submit"
                    class="remind__button"
                    [disabled]="newPasswordForm.invalid">
                    Prześlij
                </button>
            </form>
        </section>
    </div>
</div>

<flash-messanger></flash-messanger>