// Colors
$color__primary: #efd600;
$color__secondary: #3DBFEB;
$color__open--blue: #266da8;

$color__white: #fff;
$color__gray: #f5f6f8;
$color__gray--darker: #ededf2;
$color__gray--disabled: #b2b2b2;

$color__dark: #171a26;

$color__error: red;